.Rproj.user/
renv/
2023/data/grass/
2023/data/pitfall_trap_data/tau_camp_pt_day1_2023/photos/
shared/literature/
shared/cam_traps/
shared/images/
teaching/BIOS6723_2024/Assessments/
teaching/BIOS6723_2024/Lectures/
teaching/BIOS6723_2025/Advertising/
teaching/BIOS6723_2025/Planning files/
teaching/BIOS6723_2025/Lectures/
archive/